Source: moat-kv-ow
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 13),
  moat-kv (>= 0.70),
  owserver,
  python3-asyncowfs (>= 0.12.0),
Standards-Version: 3.9.6
Homepage: https://github.com/smurfix/distowfs

Package: moat-kv-ow
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  moat-kv (>= 0.70),
  python3-asyncowfs (>= 0.12.0),
Replaces: python3-distowfs, python3-distkv-ow
Conflicts: python3-distowfs, python3-distkv-ow
Description: A distributed no-master key-value store
 MoaT-KV-OW is a link between 1wire and MoaT-KV.
 .
 It will add all discovered 1wire devices, poll these devices as specified,
 write values that it reads from 1wire to some MoaT-KV entry, monitor a DistKV
 entry and write any updates to 1wire, and work with MoaT-KV's runner system,
 either centrally or distributed.
